.nav_parent{
    margin: 50px 60px;
    position: relative;
    width: calc(100% - 120px);
}
.carousel_parent, .subnav_parent, .article_parent{
    position: relative;
    width: 100%;
}
.movies_parent{
    margin: 0px 20px;
    background-color: #fff;
    position: relative;
}
.tv_parent{
    background-color: #355686;
    position: relative;
}
.footer_parent{
    background-color: #355686;
    position: relative;
    padding-bottom: 20px;
}