.article{
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
}
.ar_left{
    margin-left: 60px;
    position: relative;
}
.ar_right{
    margin-left: 60px;
    position: relative;
}
.ar_left_subnav_box{
    margin-top: 130px;
    list-style: none;
    display: flex;
}
.ar_left_subnav_item{
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
}
.ar_left_subnav_item:hover{
    color: #464242;
}
.ar_left_subnav_item:last-child{
    color: #686868;
}
.ar_left_subnav_item:last-child:hover{
    color: #464242;
}
.ar_2017_img{
    display: flex;
    align-items: center;
    transform: translateY(-50px);
}
.ar_2017_img img{
    width: 320px;
    filter: brightness(150%);
}
.ar_2017{
    font-size: 160px;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    transform: translateX(-125px);
    letter-spacing: -6px;
}
.ar_2017 span{
    transform: scaleY(1.3) translateY(14.2px);
}
.ar_box{
    position: relative;

}
.ar_box img{
    width: calc(100% - 60px);
    height: 290px;
    object-fit: cover;
}
.ar_heading{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 26px;
    margin: 18px 0px;
}
.ar_sub_heading{
    font-size: 11px;
    font-weight: 600;
    line-height: 14px;
    color: rgb(231, 231, 231);
}
.sh_faded{
    color: rgba(134, 134, 134, 0.712);
}
.ar_arrow{
    transform: scaleX(-1) translateY(-50%);
    position: absolute;
    right: 60px;
    top: 145px;
    padding: 13px 10px 13px 0px;
    background-color: #171717;
    cursor: pointer;
}
.ar_arrow:hover{
    color: #686868;
}
.ar_date{
    position: absolute;
    left: 0px;
    top: 290px;
    transform: translateY(-100%);
    background-color: #171717;
    font-size: 11px;
    font-weight: 600;
    padding: 9px 15px;
    pointer-events: none;
}
.off_lg{
    font-size: 34px;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 34px;
    transform: translate(35px, -60px);
    display: inline-block;
}
.left1{
    margin-top: 100px;
}
.left2{
    margin-top: 250px;
}
.right1{
    margin-top: 150px;
}
.more_news{
    margin-top: 60px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    align-items: center;
}
.more_news span{
    padding-bottom: 5px;
    border-bottom: 3px solid #355281;
}
.ar_book{
    transform: scaleX(-1);
    margin-right: 15px;
}
.man_img_dots{
    margin-top: 80px;
    position: relative;
}
.man_img{
    width: 500px;
    filter: contrast(83%);
    transform: translateX(-60px);
}
.man_sign{
    width: 500px;
    filter: invert(1) opacity(80%);
    z-index: 5;
    transform: translateY(-300px);
}
.ar_dots{
    list-style: none;
    position: absolute;
    top: 120px;
    right: 0px;
}
.ar_arrow_box{
    position: absolute;
    right: 25px;
    top: 360px;
}
.ar_arrow_right{
    transform: scaleX(-1);
}
.ar_arrow_left{
    color: #686868;
}
.ar_trailer{
    display: flex;
    align-items: center;
    position: absolute;
    right: 95px;
    top: 460px;
}
.ar_trailer img{
    width: 150px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}
.tr_ic_head{
    display: flex;
    align-items: center;
}
.play_icon{
    padding: 10px;
    border-radius: 50%;
    background-color: #171717;
    border: 3px solid #355281;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}
.play_icon:hover{
    box-shadow: 0 0 2px 3px #6187c4;
}
.dash{
    transform: translateX(-9px);
    width: 14px;
    height: 3.5px;
    background-color: #355281;
}
.ar_wt{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 20px;
}
.ar_wt span{
    font-size: 16px;
    color: #a1a1a1;
}
.aeom_logo{
    position: absolute;
    right: 0px;
    transform: translateY(65px);
    width: 100px;
}
@media only screen and (max-width: 1150px) {
    .ar_2017_img{
        display: flex;
        align-items: center;
        transform: translateY(0px);
    }
    .off_lg{
        transform: translate(35px, -10px);
    }
}
@media only screen and (max-width: 1160px) {
    .man_img{
        width: 400px;
    }
    .man_sign{
        width: 400px;
    }
}
@media only screen and (max-width: 940px) {
    .man_img{
        width: 340px;
        margin-bottom: 200px;
    }
    .man_sign{
        width: 340px;
    }
}
@media only screen and (max-width: 972px) {
    .ar_heading{
        font-size: 20px;
    }
    .ar_sub_heading{
        font-size: 8px;
    }
}